.sudoku-grid {
  height: 45em;
  width: 45em;
  border: 2px solid black;
  text-align: center;
}

.sudoku-cell {
  margin: 0 !important;
  padding: 0 !important;
  vertical-align: middle !important;
}

.sudoku-pencil-marks {
  margin: 0 !important;
  padding: 0 !important;
}

.sudoku-cell-value {
  font-size: xx-large;
}

.padding-0 {
  padding: 0 !important;
}

.border-right-2 {
  border-right: 2px solid black !important;
}

.border-bottom-2 {
  border-bottom: 2px solid black !important;
}

