.row {

    &:not(.row-desktop):not(.row-mobile):not(.row-tablet) {
        display: flex;
    }

    @include only(mobile) {
        &.row-mobile {
            display:flex;
        }
    }

    @include only(tablet) {
        &.row-tablet {
            display:flex;
        }
    }

    @include only(desktop) {
        &.row-desktop {
            display:flex;
        }
    }
    /**
     * Will produce col-1, col-mobile-1, col-tablet-1, col-desktop-1, etc.
     * When using the desktop or tablet or mobile class, it will affect ONLY that
     * screen size (and not the ones below).
     * col-1, ... col-12, will affect all screen sizes
     */
    @for $i from 1 through $nbrCols {
        @each $format in $formats {
            @include only($format) {
                .col-#{$format}-#{$i} {
                    width: $i/12*100%;
                }
            }
        }
        .col-#{$i} {
            width: $i/12*100%;
        }
    }
}
