.input.input-text {
    line-height: rem(10);
    padding: rem(10);
    border-radius: rem(5);
    border: rem(1) solid $light-gray;

    &:focus {
        border-color: $orange;
    }

    // remove dotted border on focus (firefox)
    &::-moz-focus-inner { border: 0; }
}
