
// Body
$body-bg: #f5f8fa;

// Typography
$font-family: "Inter", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #ffa56e;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$light-gray:#d0d0d0;

// Flex
$nbrCols : 12;

// Spacing
$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 75, 100);
$sides: (top, bottom, left, right);

// Screen sizes
$formats: (mobile, tablet, desktop);
$ms-mobile	: 480px !default;
$ms-tablet	: 1350px !default;
